# frozen_string_literal: true

require "bookings/version"
require "bookings/configuration"
require "bookings/engine"

module Bookings
  class Error               < StandardError; end
  class ConfigurationError  < Error; end

  class << self
    def configuration
      @configuration ||= Configuration.new
    end

    def configure
      yield configuration
    end
  end
end
