# frozen_string_literal: true

require "notifications/version"
require "notifications/configuration"
require "notifications/engine"

module Notifications
  class << self
    def configuration
      @configuration ||= Configuration.new
    end

    def configure
      yield configuration
    end

    def email_adapter
      configuration.email_adapter.constantize.new
    end

    def sms_adapter
      configuration.sms_adapter.constantize.new
    end
  end
end
